body
{
	color: #444444;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 17px;
	text-align: center;
	margin: 0;
	padding: 0;
}

a:link
{
	color: #0000ff;
	text-decoration: underlined;
}

a:visited
{
	color: #0000ff;
	text-decoration: underlined;
}

a:hover, a:active
{
	color: #f60;
	text-decoration: underlined;
}

.small
{
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}

.medium
{
	font-size: 15px;
	font-weight: bold;
	text-align: center;
}

.title
{
	font-size: 40px;
	font-weight: bold;
	text-align: center;
}

.author
{
	font-size: 15px;
	font-weight: bold;
	text-align: center;
}

.affiliation
{
	font-size: 13px;
	font-weight: bold;
	text-align: center;
}

.rightlink
{
	font-size: 13px;
}

